:root {
    /* paleta de colores */
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --color-input-text: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --font-Quicksand:font-family: 'Quicksand', sans-serif;
    --font-roboto:font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%; 
}
.header__navbar-container {
    width: 100%;
    height: 10%;
}
.navbar--mobile {
    display: flex;
    max-width: 750px;
    min-width: 280px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid var(--Very-light-pink);
    box-shadow: 0 1px 6px 1px var(--Very-light-pink);
}
.navbar__list {
    display: grid;
    grid-template-columns: auto 1fr auto;

    width: 100%;
    height: 100%;
    list-style: none;
}
.navbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}
.navbar--mobile__icon {
    width: 30px;
    height: auto;
    margin: 0 0.4rem;
}
.navbar--mobile__icon--car {
    width: 30px;
    height: auto;
    margin: 0 0.4rem;
}
.navbar__logo {
    width: 160px;
}
.navbar--desktop {
    display: none;
}
.Desktop-menu {
    position: absolute;
    width: 160px;
    top: 60px;
    right: 60px;
    height: auto;
    border-radius: 6px;
    padding: 0 1rem;

    border: 0.1rem solid var(--Very-light-pink);
    background-color: var(--White);
}
.Desktop-menu ul {
    list-style: none;
}
.Desktop-menu ul li {
    margin: 1rem 0;
    text-align: end;
    padding: 0.8rem 1.8rem 0.8rem 1.8rem;
}
.Desktop-menu ul li:nth-child(3) {
    padding-top: 2.4rem;
    padding-bottom: 1.8rem;
    border-top: 1px solid var(--Very-light-pink);
}
.Desktop-menu ul li a {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;

    text-decoration: none;
    color: var(--Black); 
}
.Desktop-menu ul li:nth-child(3) a {
    color: var(--Hospital-green);
}
.mobile-menu {
    position: absolute;
    display: grid;
    place-items: center;

    background-color: var(--White);
    width: 100%;
    height: 100vh;
    padding: 0 4rem;
    top: 60px;
    left: 0;
    z-index: 1;
}
.mobile-menu__bar {
    width:100%;
    height: 100%;
}
.mobile-menu__bar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 100%;
    height: 100%;
    
}
.mobile-menu__bar ul li{
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-Quicksand);

}
.mobile-menu__bar ul li a {
    text-decoration: none;
    color: var(--Black);
}
.mobile-menu__bar:last-child ul li {
    height: 50%;
}
.mobile-menu__bar:last-child ul li:first-child {
    display: flex;
    align-items: flex-end;

    margin-bottom: 1.4rem;
    border-top: 1px solid var(--Very-light-pink);
}
.mobile-menu__bar:last-child ul li:nth-child(2) {
    display: flex;
    align-items: center;

}
.mobile-menu__bar:last-child ul li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100%;
    
}
.mobile-menu__bar:last-child ul li:last-child p{

    font-weight: 300;
    font-size: 1.8rem;
    font-family: var(--font-roboto);
    
    
    color: #585555;
}
.mobile-menu__bar:last-child ul li:last-child a:last-child{
    font-size: 1.8rem;
    font-family: var(--font-roboto);
    font-weight: 300;
    
    color: var(--Hospital-green);
}
.main {
    position: relative;
    width: 100%;
    height: 80vh;
}
.in-shop-car__container {
    position: absolute;
    z-index: 1;
    background-color: var(--White);
    min-width: 320px;
    width: 100%;
    max-width: 600px;
    height: 100vh;


    margin: 0 auto;
    padding: 1rem;
}
.in-shop-car {
    display: grid;
    grid-template-rows: 40px auto;
    row-gap: 40px;
    place-items: center;
    
    width: 100%;
    height: 100%;
}
.in-shop-car__title {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 1.4rem;
    font-weight: bold;
    font-family: var(--font-Quicksand);
}
.in-shop-car__arrowicon {
    width: 15px;
    height: 15px;
    
    background-image: url('./icons/flechita.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.in-shop-car > figure {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
}
.in-shop-car > figure img {
    object-fit: cover;
    width: 100px;
    height: 100px;

    border-radius: 1.5rem;
    margin: 0 0.4rem;
}
.in-shop-car > figure figcaption {

    margin: 0 0.4rem;

    font-weight: 300;
    font-family: var(--font-Quicksand);
    font-size: 1.2rem;
    color: var(--Very-light-pink);
}
.in-shop-car > figure p {
    margin: 0 0.4rem; 

    font-size: 1.4rem;
    font-weight: bold;
}
.in-shop-car__total-cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;

    background-color: #FBFBFB;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
}
.primary__button {
    width: 100%;
    height: 5rem;
    
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--font-Quicksand);

    border-radius: 0.8rem;
    color:var(--White);
    border: 0.1rem solid var(--Hospital-green);
    background-color: var(--Hospital-green);
}
.cards__container {
    min-width: 280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,15rem);
    place-content: center;
    padding: 1rem;
}
.Product__card {
    width:100%;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Product__card > img{
    width: 100%;
    height: 15rem;
    border-radius: 2rem;
    object-fit: contain;   
}
.product__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__info > div {
    line-height: 1.8rem;
    font-size: 1.4rem;
}
.Product__text-price p:first-child{
    font-weight: 700;
    font-family: var(--font-Quicksand);
    
    color: var(--Black);
  
}
.Product__text-price p:last-child {
    font-family: var(--font-roboto);
    font-weight: 300;

    color: var(--Very-light-pink);

} 
.Icon__container {
    margin: 0;
}
.product__info figure img{
    width: 3.5rem;
    height: 3.5rem;
}
.product__detail__container {
    min-width: 280px;
    max-width: 580px;
    margin: 0;
    padding-bottom: 0.8rem;
}
.product__detail {
    min-width: 280px;
    width: 100%;
    height: 50%;
    padding-bottom: 24px;
}
.product__detail__close {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 28px;
    height: 28px;
    z-index: 2;
    background-color: var(--White);
    border-radius: 15px;
}
.product__detail__close img{
    position: absolute;
    top: 7px;
    left: 7px;
   
}
.product__detail__close img:hover {
    cursor: pointer;
}
.product__detail > img:nth-child(2){
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.product__detail--product__info {
    width: 100%;
    height: 50%; 

    margin: 0 2.4rem;

    font-size: 1.8rem;
    font-weight: 300;
    
}
.product__detail--product__info > p:nth-child(1) {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 4px;
}
.product__detail--product__info p:nth-child(2){
    margin-top: 0;
    margin-bottom: 30px;  
    
    color: var(--Very-light-pink);
} 
.product__detail--product__info p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 36px;
}
.product__detail--primary__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;

    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--font-Quicksand);

    border-radius: 0.8rem;
    color: #FFFFFF;
    border: 0.1rem solid var(--Hospital-green);
    background-color: var(--Hospital-green);
}
.inactive {
    display: none;
}
@media (min-width:768px){
    .navbar--mobile {
        display: none;
    }
    .navbar--desktop {
        display: grid;
        grid-template-columns: 70% 30%;
        
        min-width: 768px;
        max-width: 1980px;
        height: 60px;
        border-bottom: 1px solid var(--Very-light-pink);
        box-shadow: 0 1px 6px 1px var(--Very-light-pink); 
    }
    .navbar--left {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: 100%;
        margin: 0 0.8rem;
    }
    .navbar__logo {
        display: flex;
        justify-content: center;
        width: 140px;
        height: 30px;
        margin: 0 0.8rem;
    }
    .navbar--left li {
        list-style: none;
        
        
        padding: 0.4rem;
        margin: 0 0.4rem;

        font-size: 1.4rem;
        font-family: var(--font-Quicksand);
    }
    .navbar--left li:hover {
        border: 2px solid var(--Hospital-green);
    }
    .navbar--left li a {
        width: 80%;
        height: 80%;
        
        font-size: 1.6rem;
        font-family: var(--font-Quicksand);
        font-weight: bold;

        text-decoration: none;
        color: var(--Very-light-pink);
    }
    .navbar--left li a:hover {
        color: var(--Hospital-green);
    }
    .navbar--right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar--right li{
        display: flex;
        align-items: center;
        margin: 0 1rem;

        font-size: 1.2rem;
        list-style: none;
        color: var(--Very-light-pink);
    }
    .navbar__email {
        cursor: pointer;
    }
    .flechita {
        cursor: pointer;
        width: 10px;
        height: 10px;
        margin: 0 0.4rem;

        background-image: url("./icons/arrowiosdownward_111110.svg");
        background-position: center;
        background-size: contain;
    }
    .navbar--right__icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        
        width: 40px;
        height: 40px;
    }
    .Desktop-menu {
        width: 140px;
        z-index: 1;
        
    }
    .Desktop-menu ul li a{
        font-size: 1.6rem;
    }
    .in-shop-car__container{
        position: absolute;
        z-index: 2;
        background-color: var(--White);
        top: 0;
        right: 0;

        width: 300px;
        height: 600px;
    }
    .product__detail__container {
        width: 380px;
        height: 100%;
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
    }
    .product__detail > img:nth-child(2){
       width: 100%;
    }
    .product__info {
        width: 94%;
        margin: 0 auto;
    }
    .primary__button {
        width: 100%;
        margin: 0 auto;
    }   
}