:root {
    /* paleta de colores */
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --color-input-text: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --font-Quicksand:font-family: 'Quicksand', sans-serif;
    --font-roboto:font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%; 
}
.inactive {
    display: none;
}
.header__navbar-container {
 width: 100%;
 height: 10%;
}
.navbar--mobile {
    display: flex;
    max-width: 750px;
    min-width: 280px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid var(--Very-light-pink);
    box-shadow: 0 1px 6px 1px var(--Very-light-pink);
}
.navbar__list {
    display: grid;
    grid-template-columns: auto 1fr auto;

    width: 100%;
    height: 100%;
    list-style: none;
}
.navbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}
.navbar__icon {
    width: 30px;
    height: auto;
    margin: 0 0.4rem;
}
.navbar__logo {
    width: 160px;
}
.navbar--desktop {
    display: none;
}
.Desktop-menu {
    position: absolute;
    width: 160px;
    top: 60px;
    right: 60px;
    height: auto;
    border-radius: 6px;
    padding: 0 1rem;

    border: 0.1rem solid var(--Very-light-pink);
    background-color: var(--White);
}
.Desktop-menu ul {
    list-style: none;
}
.Desktop-menu ul li {
    margin: 1rem 0;
    text-align: end;
    padding: 0.8rem 1.8rem 0.8rem 1.8rem;
}
.Desktop-menu ul li:nth-child(3) {
padding-top: 2.4rem;
padding-bottom: 1.8rem;
border-top: 1px solid var(--Very-light-pink);
}
.Desktop-menu ul li a {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;

    text-decoration: none;
    color: var(--Black); 
}
.Desktop-menu ul li:nth-child(3) a {
    color: var(--Hospital-green);
}

@media (min-width:768px){
    .navbar--mobile {
        display: none;
    }
    .navbar--desktop {
        display: grid;
        grid-template-columns: 70% 30%;
        
        min-width: 768px;
        max-width: 1980px;
        height: 60px;
        border-bottom: 1px solid var(--Very-light-pink);
        box-shadow: 0 1px 6px 1px var(--Very-light-pink); 
    }
    .navbar--left {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: 100%;
        margin: 0 0.8rem;
    }
    .navbar__logo {
        display: flex;
        justify-content: center;
        width: 140px;
        height: 30px;
        margin: 0 0.8rem;
    }
    .navbar--left li {
        list-style: none;
        
        
        padding: 0.4rem;
        margin: 0 0.4rem;

        font-size: 1.4rem;
        font-family: var(--font-Quicksand);
    }
    .navbar--left li:hover {
        border: 2px solid var(--Hospital-green);
    }
    .navbar--left li a {
        width: 80%;
        height: 80%;
        
        font-size: 1.6rem;
        font-family: var(--font-Quicksand);
        font-weight: bold;

        text-decoration: none;
        color: var(--Very-light-pink);
    }
    .navbar--left li a:hover {
        color: var(--Hospital-green);
    }
    .navbar--right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar--right li{
        display: flex;
        align-items: center;
        margin: 0 1rem;

        font-size: 1.2rem;
        list-style: none;
        color: var(--Very-light-pink);
    }
    .navbar__email {
        cursor: pointer;
    }
    .flechita {
        cursor: pointer;
        width: 10px;
        height: 10px;
        margin: 0 0.4rem;

        background-image: url("./icons/arrowiosdownward_111110.svg");
        background-position: center;
        background-size: contain;
    }
    .navbar--right__icon {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
    }
    .Desktop-menu {
        width: 140px;
    }
    .Desktop-menu ul li a{
        font-size: 1.6rem;
    }
}   
@media (min-width:1200px){ 
    .navbar--left li {
        list-style: none;
    
    
        padding: 0.4rem;
        margin: 0 1.8rem;

        font-size: 1.4rem;
        font-family: var(--font-Quicksand);
    }
    .navbar--left li a {
        font-size: 2rem;
    }
    .navbar--right li {
        font-size: 1.8rem;
    }
    .Desktop-menu {
        width: 160px
    }
    .Desktop-menu ul li a {
        font-size: 2rem;
    }
}   