.login__container {
    max-width: 1024px;
    width: 800px;
    }
.logo__img{
    display: none;
    }
.form__container {
    display: flex;
    justify-content: center;
    width: 80%;
    }
.login__title {
    font-size: 2.8rem;
    }
.login__input + .login__title {
    margin-left: -6rem;
    }
.login__input {
    width: 32rem;
    height: 4rem;
}
.primary__button {
    width: 50%;
}
.login_link {
    font-size: 2.4rem;
}